body {
  font-family: Arial, sans-serif;
  background-color: #fff9ca;
  color: #48484a;
}
h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  color: #ec6e4c;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 13px;
  font-weight: 100;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: #48484a;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
footer {
  text-align: center;
  padding-top: 30px;
  font-size: smaller;
  text-decoration: none;
  color: #b2a4ff;
}
footer:hover {
  text-decoration: none;
}
.weather-app-wrapping {
  max-width: 600px;
  margin: 40px auto;
}
.weather-app {
  padding: 20px;
  border: 2px solid #ffdeb4;
  background-color: #ffdeb4;
  border-radius: 10px;
  box-shadow: 0px 0px 55px 12px rgba(216, 115, 19, 0.1);
}
.btn {
  background-color: #ec6e4c;
  color: #f2f2f1;
}
.btn:hover {
  background-color: #f2f2f1;
  color: #ec6e4c;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .temp-units {
  position: relative;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 10px 15px;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
