body {
  font-family: Arial, sans-serif;
  background-color: #fff9ca;
  color: #48484a;
}
body.dark {
  background: #1c0c5b;
  color: #f9ceee !important;
}
h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  color: #ec6e4c;
}
h1.dark {
  color: #3d2c8d;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 13px;
  font-weight: 100;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
footer {
  text-align: center;
  padding-top: 30px;
  font-size: smaller;
  color: #411530;
}
footer a :hover {
  color: #d1512d;
}
footer.dark {
  color: #c996cc;
}
.toggle {
  text-align: center;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  top: 40px;
  right: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ec6e4c;
  color: #f5e8e4;
}
.toggle.dark {
  background-color: #c996cc;
  color: #f5e8e4;
}
.weather-app-wrapping {
  max-width: 600px;
  margin: 10px auto;
}
.weather-app {
  padding: 20px;
  border: 2px solid #ffdeb4;
  background-color: #ffdeb4;
  border-radius: 10px;
  box-shadow: 0px 0px 55px 12px rgba(216, 115, 19, 0.1);
}
.weather-app.dark {
  border: 2px solid #916bbf;
  background-color: #916bbf;
}
.btn {
  background-color: #ec6e4c;
  color: #f2f2f1;
}
.btn:hover {
  background-color: #f2f2f1;
  color: #ec6e4c;
}
.btn.dark {
  background-color: #3d2c8d;
  color: #f2f2f1;
}
.btn.dark:hover {
  background-color: #f2f2f1;
  color: #3d2c8d;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  background-color: #f5e8e4;
  border-radius: 10px;
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature .active {
  text-decoration: none;
  cursor: default;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .temp-units {
  position: relative;
}
.weather-forecast {
  background-color: #f5e8e4;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 10px 15px;
}
.weather-forecast.dark {
  color: #7858a6;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.codedbylink :hover {
  color: #d1512d !important;
}
